html, body, .block {
height: 100%;
}
.pin-top {
position: relative;
}
.pin-bottom {
position: relative;
}
.pinned {
position: fixed !important;
}
#mapid {
    /*margin-top:64px;
    height:90%;
    display: block;*/
}

.fixed-action-btn {
    z-index: 314173;
}

#red {
    z-index: 314170;
}
#green {
    z-index: 314171;
}
#bluenav,#rednav,#greennav {
       z-index: 314172; 
}

.insform {
    padding-top: 10%;
}
#divric {
    padding-top: 5%;
}