@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
/*.container-fluid {
    font-family: 'Open Sans', sans-serif;
}
#HeadTitle {
    font-family: 'Roboto', sans-serif;
}
#HeadContTitle {
    padding: 0px;
    background-color: #3f51b5;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.padding {
   padding: 5px !important;
   margin: 5px !important;
}*/
.nav-wrapper > a {
    font-family: 'Open Sans', sans-serif;
}
.info-legend {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
/*#loader,#loadermap {
    border: 16px solid #f3f3f3; // Light grey 
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}*/
#optCol {
    overflow-y: scroll;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
