html, body {
height: 100%;
overflow-y: visible; 

}
.block {
    height: 100%;
overflow-y: visible; 
}
.noscroll {
 
}
body::-webkit-scrollbar { 
    display: none; 
}
.pin-top {
position: relative;
}
.pin-bottom {
position: absolute;
}
.pinned {
position: fixed !important;
}

#insnav.pinned, #ricnav.pinned {
    position: relative !important;
}

#mapid {
    /*margin-top:64px;
    height:90%;
    display: block;*/
}

.fixed-action-btn {
    z-index: 314173;
}

#sezric {
    z-index: 314170;
}
#sezins {
    z-index: 314171;
}
#mapnav,#ricnav,#insnav {
       z-index: 314172; 
}

#slide-out {
    z-index: 314174;
}
#slide-out {
    overflow-y: scroll;
    
}
#search-result {
    max-height: 500px;
    overflow-y: scroll;
}
@media only screen and (max-device-width: 480px) {
    #search-result {
        max-height: 150px;
    }
}