html, body, .block {
height: 100%;

}
body::-webkit-scrollbar { 
    display: none; 
}
.pin-top {
position: relative;
}
.pin-bottom {
position: relative;
}
.pinned {
position: fixed !important;
}
#mapid {
    /*margin-top:64px;
    height:90%;
    display: block;*/
}

.fixed-action-btn {
    z-index: 314173;
}

#sezric {
    z-index: 314170;
}
#sezins {
    z-index: 314171;
}
#mapnav,#ricnav,#insnav {
       z-index: 314172; 
}

.insform {
    padding-top: 6%;
}
#divric {
    padding-top: 5%;
}
#slide-out {
    z-index: 314174;
}
#slide-out {
    overflow-y: scroll;
}